.cardstack > :first-child {
  margin-bottom: 50px;
  box-shadow: 5px 5px 10px #383838;
}

.cardstack > :nth-child(n + 2) {
  box-shadow: 2px 10px 10px #a8a8a8, inset 1px 1px 3px #ffffff;
}

.cardstack > :nth-child(n + 3) {
  position: relative;
  margin-top: -52%;
}

.cardstack > :last-child {
  margin-bottom: 50px;
}
