.card-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 382px;
  border-radius: 8px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card-form input {
  padding: 10px;
  border: 1px solid rgb(0, 0, 0, 0.8);
  border-radius: 8px;
  margin-bottom: 15px;
}

.card-form input:focus {
  outline: none;
}

.card-form label {
  display: block;
  font-size: 0.75rem;
  margin-bottom: 5px;
  color: rgb(0, 0, 0, 0.8);
}

.card-form select {
  padding: 10px;
  border: 1px solid rgb(0, 0, 0, 0.8);
  border-radius: 8px;
}

.card-big {
  display: flex;
  justify-content: space-between;
}
