.card {
  width: 382px;
  height: 241px;
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
}

.orangeContainer {
  /* background-color: #ffae34; */
  background: linear-gradient(to right, #f5c071, #e7ab51, #f39912);
}

.blackContainer {
  /* background-color: #222222; */
  background: linear-gradient(to right, #4e4e4e, #333333, #1a1919);
  color: #fff;
}

.purpleContainer {
  /* background-color: #8b58f9; */
  background: linear-gradient(to right, #a680f7, #8858f0, #773cf5);
}

.redContainer {
  /* background-color: #f33355; */
  background: linear-gradient(to right, #f08094, #f85a77, #f33355);
}

.greyContainer {
  background-color: #d0d0d0;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.icons-flex-dir {
  display: flex;
  flex-direction: column;
}

.blipp {
  width: 44px;
  height: 44px;
}

.chip {
  width: 50px;
  height: 40px;
}

.vendor {
  width: 30px;
  height: 35px;
}

.card-info-section {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.card-number {
  font-size: 1.813rem;
  text-align: center;
  margin-top: 20px;
}

.card-dates {
  text-align: end;
}

.card-name,
.dates {
  font-size: var(--font-size-title);
}

.cardholder-name,
.valid-date {
  font-size: var(--font-size-text);
}
